@using TribalwarsKit.Models;
@model PlannerViewModel;
@{
    ViewData["Title"] = "Planer Ataków";
}

<body>
        <span class="form-header">Planer ataków</span>
    <form method="post">
        <div asp-validation-summary="All" class="error-summary"></div>
        <div class="form-input-box">

            <span class="form-header2">Wioski atakujące:</span>

            <input class="coords_field" type="text"  asp-for="AttackCoords" placeholder="456|421 475|231... (rozdzielone spacją)" required />
         </div>
         

    </form>
</body>
    
